.btn-custom{
	background-color: indianred;
}
.alert-custom{
	background-color: red;
}
.btn-custom1{
	background-color: green;
	color: white;
}
.btn-custom1{
	background-color: skyblue;
	color: white;
}
.card-color{
	background-color: #D0A9F5;
}
.list-color{
	background-color: #8181F7;
}